


nav{
    display: flex;
    justify-content: center ;
    justify-items: center;
}
#logo{
    padding: 5px 0px;
}
#logo img{
    max-width: 100px;
    height: auto;
}

#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: #e15b5b;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu{
    position: absolute;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #131921;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}

#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu li:hover a{
    border-bottom: 1px solid #646464;
}
#main-menu ul.sub-menu  li:last-child a{
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 199px;
    top: -15px;
}

/*THIẾT LẬP border*/

#main-menu>li>a{
    position: relative;
}

#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}




html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #f8a6c8;
}

.heading{
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: #f8a6c8;
}

header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 0.5rem rgb(228, 222, 222);
}

header .navbar a{
    font-size: 15px;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: #ef70a5;
}

header .icons a{
    font-size: 15px;
    color: #333;
    margin-right: 1rem;
}

header .icons a:hover{
    color: #ef70a5;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 1.5rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid #333;
    display: none;
}

.home{
    display: flex;
    align-items: end;
    min-height: 100vh;
    background: url(images1/anh3.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.products .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius:  .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 10px; left: 10px;
    padding: .7rem 1rem;
    font-size: 12px;
    color: #f8a6c8;
    background: rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .7rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 300px;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box:hover .image .icons a{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.5rem;
    width: 50%;
    background: #000000;
    color: #fff;
}

.products .box-container .box:hover .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: #333;
}

.products .box-container .box .content{
    padding: 20px;
    text-align: center;
}

.products .box-container .box .content p{
    font-size: 13px;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 11px;
    color: #666;
    font-weight: lighter;
    text-decoration: line-through;
}



.sneakers .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}

.sneakers .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius:  .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}

.sneakers .box-container .box .discount{
    position: absolute;
    top: 10px; left: 10px;
    padding: .7rem 1rem;
    font-size: 12px;
    color: #f8a6c8;
    background: rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .7rem;
}

.sneakers .box-container .box .image{
    position: relative;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.sneakers .box-container .box .image img{
    height: 300px;
}

.sneakers .box-container .box:hover .image img{
    transform: scale(1.1);
}

.sneakers .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.sneakers .box-container .box:hover .image .icons{
    bottom: 0;
}

.sneakers .box-container .box:hover .image .icons a{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.5rem;
    width: 50%;
    background: #000000;
    color: #fff;
}

.sneakers .box-container .box:hover .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.sneakers .box-container .box .image .icons a:hover{
    background: #333;
}

.sneakers .box-container .box .content{
    padding: 20px;
    text-align: center;
}

.sneakers .box-container .box .content p{
    font-size: 13px;
    color:#333;
}

.sneakers .box-container .box .content .price{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding-top: 1rem;
}

.sneakers .box-container .box .content .price span{
    font-size: 11px;
    color: #666;
    font-weight: lighter;
    text-decoration: line-through;
}




.bupbe .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}

.bupbe .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius:  .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}

.bupbe .box-container .box .discount{
    position: absolute;
    top: 10px; left: 10px;
    padding: .7rem 1rem;
    font-size: 12px;
    color: #f8a6c8;
    background: rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .7rem;
}

.bupbe .box-container .box .image{
    position: relative;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.bupbe .box-container .box .image img{
    height: 300px;
}

.bupbe .box-container .box:hover .image img{
    transform: scale(1.1);
}

.bupbe .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.bupbe .box-container .box:hover .image .icons{
    bottom: 0;
}

.bupbe .box-container .box:hover .image .icons a{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.5rem;
    width: 50%;
    background: #000000;
    color: #fff;
}

.bupbe .box-container .box:hover .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.bupbe .box-container .box .image .icons a:hover{
    background: #333;
}

.bupbe .box-container .box .content{
    padding: 20px;
    text-align: center;
}

.bupbe .box-container .box .content p{
    font-size: 13px;
    color:#333;
}

.bupbe .box-container .box .content .price{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding-top: 1rem;
}

.bupbe .box-container .box .content .price span{
    font-size: 11px;
    color: #666;
    font-weight: lighter;
    text-decoration: line-through;
}



.footer .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    background-color: #000000;
    height: 300px;
    text-align: center;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box p{
    color: #ffffff;
    font-size: 25px;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #fffbfb;
    font-size: 13px;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: #f8a6c8;
    text-decoration: underline;
}

.textcenter{
    text-align: center;
}






html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #f8a6c8;
}

.heading{
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: #f8a6c8;
}

header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 0.5rem rgb(228, 222, 222);
}

header .navbar a{
    font-size: 15px;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: #ef70a5;
}

header .icons a{
    font-size: 15px;
    color: #333;
    margin-right: 1rem;
}

header .icons a:hover{
    color: #ef70a5;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 1.5rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid #333;
    display: none;
}

.home{
    display: flex;
    align-items: end;
    min-height: 100vh;
    background: url(images1/anh3.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}
